/*Fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
         url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
         url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Variables*/

:root {
    --bold-text: #000000;
    --regular-text: #333333;
    --aclogo-basic: #231F20;
    --aclogo-focus: #BDBBBC;
    --basic-blue: #81B3D2;
    --hover-blue: #669EC0;
    --active-blue: #5496BD;
    --basic-white: #ffffff;
    --basic-beige: #EEEEEE;
    --basic-brown: #766357;
    --hover-brown: #604E43;
    --active-brown: #503E33;
    --input-background: #F2F2F2;
    --arrow-still: #CACACA;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    max-width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page a {
    text-decoration: none;
    color: var(--bold-text);
}

/*Header*/

.main-header {
    display: grid;
    position: relative;
    height: 55px;
}

.sedona-logo {
    position: absolute;
    left: 530px;
    z-index: 2;
}

.menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.menu-info {
    margin-left: 73px;
}

.menu-photo {
    margin-left: 135px; 
}

.menu-map {
    margin-left: 420px;
}

.menu-hotels {
    margin-left: 148px;
}

.menu-item a {
    line-height: 26px;
    font-weight: 700;
}

.menu-item a:hover,
.hotel-name a:hover {
    color: var(--basic-blue);
}

.menu-item a:focus {
    color: var(--basic-brown);
}

.menu-item a:active,
.hotel-name a:active {
    color: var(--bold-text);
    opacity: 0.3;
}

/*Main - .index - Reasons*/

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 509px;
    background-color: #D3E6F2;
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
}

.reasons-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 216px;
    line-height: 26px;
    color: var(--regular-text);
    text-align: center;
}

.reasons-intro-bold {
    font-size: 21px;
    font-weight: 700;
}

.reasons-list, .life-features-list {
    list-style: none;
    padding-left: 0px;
}

.reasons-all {
    max-width: 1200px;
}

.reasons-list {
    display: grid;
    grid-template-rows: 586px 256px 256px;
    grid-template-columns: 400px 400px 400px;
    grid-template-areas: 
      "a a a"
      "b b b"
      "c d e";
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.reason-one {
    grid-area: a;
    display: grid;
    grid-template-columns: 400px 800px;
  }

.life-features-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    height: 330px;
    list-style: none;
    padding-left: 0;
}

.reason-two {
    grid-area: b;
    display: grid;
    grid-template-columns: 800px 400px;
}

.reason-3 {
    grid-area: c;
}
  
.reason-4 {
    grid-area: d;
}
  
.reason-5 {
    grid-area: e;
}

.reason-heading {
    font-size: 21px;
    font-weight: 700;
}

.reasons-item-blue {
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.reasons-item-beige {
    background-color: var(--basic-beige);
    color:var(--regular-text);
}

.life-features-list li {
    background-color: #ffffff;
    color:var(--regular-text);
}

.life-feature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reason-text {
    margin-top: auto;
    margin-bottom: auto;
}

.reason-text p,
.life-feature-text {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* Main - .index - Hotel Search */

.hotel-search-index {
    display: flex;
    flex-direction: column;
    height: 390px;
}

.hotel-search-interested {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    text-align: center;
}

.interested-heading {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.interested-text {
    margin-bottom: 50px;
}
.button-search-index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  width: 568px;
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--light-brown);
}

.hotel-search-index p {
    color:var(--regular-text);
}

.hotel-search-index .button {
    background-color:var(--basic-brown);
    color:var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.hotel-search-index .button:hover {
    background-color:var(--hover-brown);
}

.hotel-search-index .button:active {
    background-color:var(--active-brown);
    color: rgba(255, 255, 255, 0.3);
}


/*Footer*/

.footer {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    height: 120px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color:var(--bold-text);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social ul {
    list-style: none;
    padding-left: 0px;
}

.social-icon {
    width: 46px;
    height: 48px;
    background-color:var(--basic-blue);
}

.twitter {
    margin-right: 6px;
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.facebook {
    margin-right: 6px;
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.youtube {
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-icon:hover {
    background-color:var(--hover-blue);
}

.social-icon:active {
    background-color:var(--active-blue);
}

.twitter:active {
    background-image: url("../img/twitter_opac.svg");
}

.facebook:active {
    background-image: url("../img/fb-icon_opac.svg");
}

.youtube:active {
    background-image: url("../img/youtube_opac.svg");
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits-text {
    margin-right: 8px;
    line-height: 26px;
}

.credits a:hover .logo-academy {
    fill: var(--basic-blue);
}

.credits a:active .logo-academy {
    fill:var(--aclogo-focus);
}

/* Main - .hotels - Search results */

.hotels-main {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "a"
    "b"
    "c";
}

.search-form-hotels form {
    grid-area: a;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1200px;
    height: 217px;
    background-image: url("../img/background_search.jpg");
    background-repeat: no-repeat;
    color:#ffffff;
    font-size: 16px;
}

.search-criteria p {
    font-weight: 700;
}

.search-criteria table {
    border: 1px solid white;
}

.sort {
    grid-area: b;
    display: grid;
    grid-template-columns: 270px auto;
}

.hotels-list {
    grid-area: c;
    display: grid;
    grid-template-rows: auto auto auto;
}

.hotel-item {
    display: grid;
    grid-template-columns: auto min-content;
}

.search-results ul {
    list-style: none;
    padding-left: 0px;
}

.search-results-num, 
.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--bold-text);
}

.sorting-label,
.sorting-criteria-item {
    font-size: 12px;
    line-height: 18px;
}

.sorting-label {
    color:var(--bold-text);
}

.sorting-criteria-item a {
    color: var(--bold-text);
    opacity: 0.3;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.sorting-criteria-item a:hover {
    color: var(--basic-blue);
    opacity: 1;
}

.sorting-criteria-item a:focus {
    color: var(--basic-blue);
    opacity: 1;
    text-decoration: none;
}

.sorting-criteria-item a:active {
    color: var(--bold-text);
    opacity: 1;
    text-decoration: none;
}

.sorting-arrows-list a:hover .sorting-arrow {
    fill: var(--bold-text);
}

.sorting-arrows-list a:focus .sorting-arrow {
    fill:var(--basic-blue);
}

.sorting-arrows-list a:active .sorting-arrow {
    fill:var(--basic-blue);
}

.search-results .button {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    font-weight: 700;
}

.search-results .button-book {
    background-color: var(--basic-brown);
}

.search-results .button-more:hover {
    background-color: var(--hover-blue);
}

.search-results .button-more:active {
    background-color: var(--active-blue);
    color: rgba(255, 255, 255, 0.3);
}

.search-results .button-book:hover {
    background-color: var(--hover-brown);
}

.search-results .button-book:active {
    background-color: var(--hover-brown);
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    width: 110px;
    height: 27px;
    background-color: var(--input-background);
}

.stars {
    background-image: url("../img/star.svg");
}

.stars-amara {
    width: 90px;
    height: 17px;
    background-repeat: space repeat;
}

.stars-desert {
    width: 65px;
    height: 17px;
    background-repeat: space repeat;
}

.stars-villas {
    width: 40px;
    height: 17px;
    background-repeat: space repeat;
}