/*Fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
         url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
         url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Variables*/

:root {
    --bold-text: #000000;
    --regular-text: #333333;
    --aclogo-basic: #231F20;
    --aclogo-focus: #BDBBBC;
    --basic-blue: #81B3D2;
    --hover-blue: #669EC0;
    --active-blue: #5496BD;
    --basic-white: #ffffff;
    --basic-beige: #EEEEEE;
    --basic-brown: #766357;
    --hover-brown: #604E43;
    --active-brown: #503E33;
    --input-background: #F2F2F2;
    --input-hover: #EBEBEB;
    --input-focus: #E5E5E5;
    --arrow-still: #CACACA;
}

html {
    height: 100%;
}
  
body {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px #888888;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page {
    background-color: var(--basic-beige);
}

.page a {
    text-decoration: none;
    color: var(--bold-text);
}

/*Header*/

.main-header {
    position: relative;
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sedona-logo {
    position: absolute;
    left: 530px;
    z-index: 2;
}

.menu-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.menu-item a {
    font-weight: 700;
    line-height: 26px;
}

.menu-info {
    margin-left: 72px;
}

.menu-photo {
    margin-left: 134px; 
}

.menu-map {
    margin-left: 418px;
}

.menu-hotels {
    margin-left: 147px;
}

.menu-item a:hover,
.hotel-name a:hover {
    color: var(--basic-blue);
}

.menu-item a:focus {
    color: var(--basic-brown);
}

.menu-item a:active,
.hotel-name a:active {
    color: var(--bold-text);
    opacity: 0.3;
}

/*Index - Main content - Reasons*/

.welcome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 79px;
    padding-bottom: 79px;
    background-color: #D3E6F2;
    background-image: url("../img/background_main.jpg");
    background-repeat: no-repeat;
}

.shape {
    position: absolute;
    bottom: 0px;
}

.reasons-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reasons-intro-bold {
    width: 470px;
    margin-top: 42px;
    margin-bottom: 0;
    padding-bottom: 28px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: var(--bold-text);
}

.reasons-intro-regular {
    width: 519px;
    margin-top: 16px;
    margin-bottom: 52px;
    line-height: 26px;
    color: var(--regular-text);
}

.reasons-list, 
.life-features-list {
    list-style: none;
    padding-left: 0px;
}

.reason-heading,
.life-feature-heading {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.reason-heading {
    height: 43px;
    margin-top: 47px;
}

.reason-one-heading {
    width: 122px;
    margin-left: 139px;
}

.reason-two-heading {
    width: 150px;
    margin-left: 126px;
}

.reason-three-heading {
    width: 119px;
    margin-left: 140px;
}

.reason-four-heading {
    width: 99px;
    margin-left: 151px;
}

.reason-five-heading {
    width: 98px;
    margin-left: 151px;
}

.reason-number {
    margin-top: 25px;
}

.reason-details {
    margin-top: 23px;
}

.reason-one .reason-details {
    width: 297px;
    margin-left: 52px;
}

.reason-two .reason-details {
    width: 301px;
    margin-left: 50px;
}

.reason-three .reason-details {
    width: 207px;
    margin-left: 96px;
}

.reason-four .reason-details {
    width: 258px;
    margin-left: 71px;
}

.reason-five .reason-details {
    width: 246px;
    margin-left: 77px;
}

.reasons-list {
    display: grid;
    grid-template-rows: 586px 256px 256px;
    grid-template-columns: 400px 400px 400px;
    grid-template-areas: 
      "a a a"
      "b b b"
      "c d e";
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

.reason-one {
    grid-area: a;
    display: grid;
    grid-template-columns: 400px 800px;
}

.life-features-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    height: 330px;
    padding-left: 0;
    list-style: none;
}

.life-features-list li {
    background-color: #ffffff;
    color:var(--regular-text);
}

.life-feature-details {
    margin-top: 25px;
}

.feature-one .life-feature-details {
    width: 254px;
    margin-left: 73px;
}

.feature-two .life-feature-details {
    width: 297px;
    margin-left: 73px;
}

.feature-three .life-feature-details {
    width: 269px;
    margin-left: 66px;
}

.icon-house,
.icon-burger {
    margin-top: 60px;
}

.icon-gift {
    margin-top: 53px;
}

.reason-two {
    grid-area: b;
    display: grid;
    grid-template-columns: 800px 400px;
}

.reason-3 {
    grid-area: c;
}
  
.reason-4 {
    grid-area: d;
}
  
.reason-5 {
    grid-area: e;
}

.reasons-item-blue {
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.reasons-item-beige {
    background-color: var(--basic-beige);
    color:var(--regular-text);
}

/*Index - Main content - Hotel Search */

.hotel-search-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.interested-heading {
    width: 297px;
    margin-top: 58px;
    margin-bottom: 0;
    margin-left: 446px;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
}

.interested-text {
    width: 435px;
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 383px;
    padding: 28px 0px 19px 0px;
    line-height: 24px;
}

.button-search-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 568px;
  height: 86px;
  margin-top: 24px;
  margin-left: 316px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-search-index p {
    color:var(--regular-text);
}

.hotel-search-index .button {
    background-color:var(--basic-brown);
    color:var(--basic-white);
}

.hotel-search-index .button:hover {
    background-color:var(--hover-brown);
}

.hotel-search-index .button:active {
    background-color:var(--active-brown);
    color: rgba(255, 255, 255, 0.3);
}

.index-search-form {
    position: absolute;
    left: 316px;
    top: 2169px;
    z-index: 2;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 568px;
    height: 395px;
    font-weight: 700;
    line-height: 26px; 
    text-align: start;
    background-color: var(--basic-white);
}

.index-search-form fieldset {
    margin: 0;
    padding: 0;
    border:none;
}

.date-field input {
    width: 329px;
    height: 38px;
    padding-left: 15px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    background-color: var(--basic-beige);
    border: none;
}

.arrival {
    position: relative;
}

.index-search-form .calendar-arrival {
    position: absolute;
    left: 487px;
    bottom: 8px;
    width: 21px;
    height: 23px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    border: none;
}

.departure {
    position: relative;
}

.index-search-form .calendar-departure {
    position: absolute;
    left: 487px;
    bottom: 8px;
    width: 21px;
    height: 23px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    border: none;
}

.index-search-form .calendar-arrival:hover,
.index-search-form .calendar-departure:hover {
    background-image: url("../img/calendar_hover.svg");
}

.index-search-form .calendar-arrival:active,
.index-search-form .calendar-departure:active {
    background-image: url("../img/calendar_active.svg");
}

.arrival label,
.departure label {
    margin-left: 55px;
}

.arrival input {
    margin-top: 55px;
    margin-left: 21px;
}

.departure input {
    margin-top: 29px;
    margin-left: 19px;
}

.guest-field {
    position: relative;
    display: flex;
}

.index-search-form .adults-less {
    position: absolute;
    left: 167px;
    bottom: 0px;
    width: 38px;
    height: 38px;
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.index-search-form .adults-more {
    position: absolute;
    left: 243px;
    bottom: 0px;
    width: 38px;
    height: 38px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.index-search-form .kids-less {
    position: absolute;
    left: 399px;
    bottom: 0px;
    width: 38px;
    height: 38px;
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.index-search-form .kids-more {
    position: absolute;
    left: 475px;
    bottom: 0px;
    width: 38px;
    height: 38px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.index-search-form .adults-less:hover,
.index-search-form .kids-less:hover {
    background-image: url("../img/minus_hover.svg");
}

.index-search-form .kids-more:hover,
.index-search-form .adults-more:hover {
    background-image: url("../img/plus_hover.svg");
}

.index-search-form .adults-less:active,
.index-search-form .kids-less:active {
    background-image: url("../img/minus_active.svg");
}

.index-search-form .kids-more:active,
.index-search-form .adults-more:active {
    background-image: url("../img/plus_active.svg");
}

.guest-field label {
    margin-top: 36px;
    margin-left: 55px;
}

.guest-field input {
    width: 36px;
    height: 26px;
    margin-top: 30px;
    padding: 6px 30px 6px 51px;
    font-weight: 700;
    line-height: 26px;
    background-color: var(--basic-beige);
    border: none;
}

.index-search-form input[type="number"]::-webkit-outer-spin-button,
.index-search-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.index-search-form input[type="number"] {
    -moz-appearance: textfield;
}

.index-search-form input[type="number"]:hover,
.index-search-form input[type="number"]:focus {
    -moz-appearance: number-input;
}

.guest-field .adults-label {
    padding-right: 38px;
}

.guest-field .kids-label {
    margin-left: 53px;
    padding-right: 25px;
} 

.index-search-form input[type="number"]:hover,
.index-search-form input[type="text"]:hover {
    background-color: var(--input-hover);
}

.index-search-form input[type="number"]:focus,
.index-search-form input[type="text"]:focus {
    background-color: var(--basic-white);
}

.index-search-form input[type="submit"] {
    width: 458px;
    height: 58px;
    margin-top: 54px;
    margin-left: 55px;
    padding: 0;
    font-size:21px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    border: none;
}  

.index-search-form input[type="submit"]:hover {
    background-color: var(--hover-blue);
}

.index-search-form input[type="submit"]:active {
    background-color: var(--active-blue);
    color:rgba(255, 255, 255, 0.3);
}

/*Footer*/

.footer {
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: 473px 254px 473px;
    height: 120px;
    background-color: #ffffff;
    opacity: 0.9;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color:var(--bold-text);
}

.hashtag-link {
    width: 166px;
    margin-top: 23px;
    margin-bottom: 0;
}

.phone-number {
    width: 251px;
    margin-top: 9px;
    margin-bottom: 36px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 36px;
    padding-left: 0px;
}

.social-icon {
    width: 46px;
    height: 48px;
    background-color:var(--basic-blue);
}

.twitter {
    margin-right: 6px;
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.facebook {
    margin-right: 6px;
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.youtube {
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-icon:hover {
    background-color:var(--hover-blue);
}

.social-icon:active {
    background-color:var(--active-blue);
}

.twitter:active {
    background-image: url("../img/twitter_opac.svg");
}

.facebook:active {
    background-image: url("../img/fb-icon_opac.svg");
}

.youtube:active {
    background-image: url("../img/youtube_opac.svg");
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits-text {
    width: 74px;
    margin-right: 8px;
    line-height: 26px;
}

.credits a {
    width: 115px;
    height: 41px;
}

.credits a:hover .logo-academy {
    fill: var(--basic-blue);
}

.credits a:active .logo-academy {
    fill:var(--aclogo-focus);
}

/* Hotels - Main content - Search results */

.search-form-hotels form {
    display: grid;
    grid-template-columns: 327px 484px 389px;
    width: 1200px;
    height: 217px;
    background-color: var(--hover-blue);
    background-image: url("../img/background_search.jpg");
    background-repeat: no-repeat;
    color:#ffffff;
    font-size: 16px;
}

.filter-item {
    margin: 0;
    margin-top: 26.5px;
    padding: 0;
    border: none;
}

.search-form-hotels legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.search-criteria input[type="checkbox"] {
    display: none;
}

.checker {
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.label-text {
    font-size: 14px;
    line-height: 21px;
}

.label-swimming-pool {
    padding-left: 40px;
}

.label-parking {
    padding-left: 39px;
}

.label-wifi {
    padding-left: 39px;
}

.label-hotel {
    padding-left: 42px;
}

.label-motel {
    padding-left: 42px;
}

.label-appartments {
    padding-left: 41px;
}

.infrastructure-filter,
.housing-type-filter {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.infrastructure-filter li,
.housing-type-filter li {
    padding-top: 25px;
}

.infrastructure-filter li:first-child,
.housing-type-filter li:first-child {
    padding-top: 24px;
}

.search-criteria input[type="checkbox"]:checked + .checker {
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-on.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.search-criteria input[type="checkbox"]:disabled + .checker {
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-disabled.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.search-criteria input[type="checkbox"]:checked:disabled + .checker {
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-on-disabled.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.infrastructure {
    padding-left: 73px;
}

.price-controls {
    position: relative;
    display: flex;
    align-items: center;
    width: 313px;
    height: 36px;
    margin-top: 10.5px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.price-controls input {
    width: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: none;
}

.price-controls input[type="number"] {
  -moz-appearance: textfield;
}

.price-controls input[type="number"]:hover,
.price-controls input[type="number"]:focus {
  -moz-appearance: number-input;
} 

.price-controls .label-price-from {
    margin-left: 65px;
}

.price-controls .label-price-to {
    margin-left: 67px;
}

.rectangle {
    position: absolute;
    top: 7px;
    left: 159px;
    width: 2px;
    height: 22px;
    justify-self: center;
    align-self: center;
    background-color: #ffffff;
}

.range-controls {
    position: relative;
    width: 316px;
    margin-top: 20px;
    border-radius: 5px;
}
  
.range-controls .scale {
    width: 256px;
    height: 2px;
    background-color: #ffffff;
    opacity: 1;
}

.range-controls .bar {
    width: 316px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.3;
}

.range-controls .toggle {
    position: absolute;
    top: -8px;
    left: 0;
    width: 3.8px;
    height: 5px;
    padding: 0;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle:hover {
    width: 5px;
    height: 6px;
    border: 9px solid #ffffff;
}

.range-controls .toggle-max {
    left: 252px;
}

.search-criteria input[type=submit] {
    width: 137px;
    margin-top: 33px;
    margin-left: 85px;
    padding: 5px 34px;
    background: rgba(255, 255, 255, 0);
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.search-criteria input[type=submit]:hover {
    background-color: var(--basic-white);
    color: #000000;
}

.search-results-sorting {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 86px;
    width: 1200px;
    border-bottom: 1px solid #E5E5E5;
}

.sorting-part-one p {
    width: 117px;
    margin-top: 29px;
    margin-left: 73px;
}

.sorting-part-two {
    display: flex;
}

.sort-by,
.sorting-criteria,
.sorting-arrows-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-by {
    width: 75px;
    margin-top: 31px;
    margin-left: 36px;
    color:var(--bold-text);
}

.sort-by-price {
    width: 49px;
    margin-top: 32px;
    margin-left: 40px;
}

.sort-by-type {
    width: 49px;
    margin-top: 31px;
    margin-left: 32px;
}

.sort-by-rating {
    width: 76px;
    margin-top: 32px;
    margin-left: 32px;
}

.arrow-up {
    width: 11px;
    height: 10px;
    margin-top: 40px;
    margin-left: 503px;
}

.arrow-down {
    width: 11px;
    height: 10px;
    margin-top: 40px;
    margin-left: 12px;
}

.sort-by,
.sorting-criteria-item {
    font-size: 12px;
    line-height: 18px;
}

.sorting-criteria-item a {
    color: var(--bold-text);
    opacity: 0.3;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.sorting-criteria-item a:hover {
    color: var(--basic-blue);
    opacity: 1;
}

.sorting-criteria-item a:focus {
    color: var(--basic-blue);
    opacity: 1;
    text-decoration: none;
}

.sorting-criteria-item a:active {
    color: var(--bold-text);
    opacity: 1;
    text-decoration: none;
}

.sorting-arrows-list a:hover .sorting-arrow {
    fill: var(--bold-text);
}

.sorting-arrows-list a:focus .sorting-arrow {
    fill:var(--basic-blue);
}

.sorting-arrows-list a:active .sorting-arrow {
    fill:var(--basic-blue);
}

.hotels-list {
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0;
}

.hotel-item {
    display: grid;
    grid-template-columns: 236px 781px 183px;
    border-bottom: 1px solid #E5E5E5;
}

.search-results ul {
    list-style: none;
    padding-left: 0px;
}

.search-results li:last-child {
    margin-bottom: 120px;
}

.hotel-photo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 73px;
}

.found, 
.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--bold-text);
}

.hotel-details {
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.hotel-text {
    display: flex;
}

.hotel-name {
    margin-top: 24px;
    margin-bottom: 0;
}

.hotel-text p {
    margin-top: 7px;
    margin-bottom: 0px;
}

.hotel-type {
    width: 107px;
}

.hotel-price {
    width: 96px;
    margin-left: 9px;
}

.hotel-buttons {
    margin-top: 15px;
}

.hotel-buttons .button {
    display: inline-flex;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.search-results .button-more {
    padding: 3px 16px 3px 17px;
}

.search-results .button-book {
    margin-left: 6px;
    padding: 3px 17px 3px 16px;
}

.search-results .button-book {
    background-color: var(--basic-brown);
}

.search-results .button-more:hover {
    background-color: var(--hover-blue);
}

.search-results .button-more:active {
    background-color: var(--active-blue);
    color: rgba(255, 255, 255, 0.3);
}

.search-results .button-book:hover {
    background-color: var(--hover-brown);
}

.search-results .button-book:active {
    background-color: var(--hover-brown);
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    width: 83px;
    padding: 3px 11px 3px 15px;
    margin-top: 47px;
    font-size: 14px;
    background-color: var(--input-background);
    text-align: center;
}

.stars {
    background-image: url("../img/star.svg");
    margin-top: 29px;
    margin-bottom: 0;
}

.stars-amara {
    width: 90px;
    height: 17px;
    margin-left: 21px;
    background-repeat: space repeat;
}

.stars-desert {
    width: 65px;
    height: 17px;
    margin-left: 46px;
    background-repeat: space repeat;
}

.stars-villas {
    width: 40px;
    height: 17px;
    margin-left: 70px;
    background-repeat: space repeat;
}