/*Fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
         url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
         url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Variables*/

:root {
    --bold-text: #000000;
    --regular-text: #333333;
    --aclogo-basic: #231F20;
    --aclogo-focus: #BDBBBC;
    --basic-blue: #81B3D2;
    --hover-blue: #669EC0;
    --active-blue: #5496BD;
    --basic-white: #ffffff;
    --basic-beige: #EEEEEE;
    --basic-brown: #766357;
    --hover-brown: #604E43;
    --active-brown: #503E33;
    --input-background: #F2F2F2;
    --arrow-still: #CACACA;
}

body {
    position: relative;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #888888;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page a {
    text-decoration: none;
    color: var(--bold-text);
}

/*Header*/

.main-header {
    display: grid;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sedona-logo {
    position: absolute;
    left: 530px;
    z-index: 2;
}

.menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.menu-info {
    margin-left: 73px;
}

.menu-photo {
    margin-left: 135px; 
}

.menu-map {
    margin-left: 420px;
}

.menu-hotels {
    margin-left: 148px;
}

.menu-item a {
    line-height: 26px;
    font-weight: 700;
}

.menu-item a:hover,
.hotel-name a:hover {
    color: var(--basic-blue);
}

.menu-item a:focus {
    color: var(--basic-brown);
}

.menu-item a:active,
.hotel-name a:active {
    color: var(--bold-text);
    opacity: 0.3;
}

/*Index - Main content - Reasons*/

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 79px;
    padding-bottom: 79px;
    background-color: #D3E6F2;
    background-image: url("../img/background_main.jpg");
    background-repeat: no-repeat;
    position: relative;
}

.shape {
    position: absolute;
    bottom: 0px;
}

.reasons-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reasons-intro-bold {
    width: 470px;
    padding-bottom: 28px;
    margin-top: 42px;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: var(--bold-text);
}

.reasons-intro-regular {
    width: 519px;
    margin-top: 16px;
    margin-bottom: 52px;
    line-height: 26px;
    color: var(--regular-text);
}

.reasons-list, 
.life-features-list {
    list-style: none;
    padding-left: 0px;
}

.reason-heading,
.life-reason-heading {
    height: 43px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.reason-heading {
    margin-top: 47px;
}

.reasons-list {
    display: grid;
    grid-template-rows: 586px 256px 256px;
    grid-template-columns: 400px 400px 400px;
    grid-template-areas: 
      "a a a"
      "b b b"
      "c d e";
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

.reason-one {
    grid-area: a;
    display: grid;
    grid-template-columns: 400px 800px;
}

.life-features-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    height: 330px;
    list-style: none;
    padding-left: 0;
}

.life-features-list li {
    background-color: #ffffff;
    color:var(--regular-text);
}

.icon-house,
.icon-burger {
    margin-top: 60px;
}

.icon-gift {
    margin-top: 53px;
}

.reason-two {
    grid-area: b;
    display: grid;
    grid-template-columns: 800px 400px;
}

.reason-3 {
    grid-area: c;
}
  
.reason-4 {
    grid-area: d;
}
  
.reason-5 {
    grid-area: e;
}

.reasons-item-blue {
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.reasons-item-beige {
    background-color: var(--basic-beige);
    color:var(--regular-text);
}

/*Index - Main content - Hotel Search */

.hotel-search-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.interested-heading {
    margin-top: 58px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.interested-text {
    width: 435px;
    margin-top: 4px;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 27px;
    line-height: 24px;
}

.button-search-index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  width: 568px;
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--light-brown);
}

.hotel-search-index p {
    color:var(--regular-text);
}

.hotel-search-index .button {
    margin-top: 24px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    background-color:var(--basic-brown);
    color:var(--basic-white);
}

.hotel-search-index .button:hover {
    background-color:var(--hover-brown);
}

.hotel-search-index .button:active {
    background-color:var(--active-brown);
    color: rgba(255, 255, 255, 0.3);
}

/*Footer*/

.footer {
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    height: 120px;
    background-color: #ffffff;
    opacity: 0.9;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color:var(--bold-text);
}

.hashtag-link {
    width: 166px;
    margin-top: 23px;
    margin-bottom: 0;
}

.phone-number {
    width: 251px;
    margin-top: 9px;
    margin-bottom: 36px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 36px;
    padding-left: 0px;
}

.social-icon {
    width: 46px;
    height: 48px;
    background-color:var(--basic-blue);
}

.twitter {
    margin-right: 6px;
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.facebook {
    margin-right: 6px;
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.youtube {
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-icon:hover {
    background-color:var(--hover-blue);
}

.social-icon:active {
    background-color:var(--active-blue);
}

.twitter:active {
    background-image: url("../img/twitter_opac.svg");
}

.facebook:active {
    background-image: url("../img/fb-icon_opac.svg");
}

.youtube:active {
    background-image: url("../img/youtube_opac.svg");
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits-text {
    width: 74px;
    margin: 0;
    margin-right: 8px;
    line-height: 26px;
}

.credits a {
    width: 115px;
    height: 41px;
    margin-right: 138px;
}

.credits a:hover .logo-academy {
    fill: var(--basic-blue);
}

.credits a:active .logo-academy {
    fill:var(--aclogo-focus);
}

/* Hotels - Main content - Search results */

.hotels-main {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "a"
    "b"
    "c";
}

.search-form-hotels form {
    grid-area: a;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1200px;
    height: 217px;
    background-image: url("../img/background_search.jpg");
    background-repeat: no-repeat;
    color:#ffffff;
    font-size: 16px;
}


.search-criteria p {
    font-weight: 700;
}

.search-results-sorting {
    grid-area: b;
    display: grid;
    grid-template-columns: 200px auto;
    width: 1200px;
}

.sorting-part-one p {
    width: 117px;
    margin-top: 29px;
    margin-left: 73px;
}

.sorting-part-two {
    display: flex;
}

.sorting-label,
.sorting-criteria,
.sorting-arrows-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.sorting-label {
    width: 75px;
    margin-left: 36px;
}

.sort-by-price {
    width: 49px;
    margin-left: 40px;
}

.sort-by-type {
    width: 49px;
    margin-left: 32px;
}

.sort-by-rating {
    width: 76px;
    margin-left: 32px;
}

.arrow-up {
    margin-left: 503px;
}

.arrow-down {
    margin-left: 9px;
}

.hotels-list {
    grid-area: c;
    display: grid;
    grid-template-rows: auto auto auto;
}

.hotel-item {
    display: grid;
    grid-template-columns: 236px 781px 183px;
}

.search-results ul {
    list-style: none;
    padding-left: 0px;
}

.search-results li:last-child {
    margin-bottom: 120px;
}

.hotel-photo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 73px;
}

.found, 
.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--bold-text);
}

.sorting-label,
.sorting-criteria-item {
    font-size: 12px;
    line-height: 18px;
}

.sorting-label {
    color:var(--bold-text);
}

.sorting-criteria-item a {
    color: var(--bold-text);
    opacity: 0.3;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.sorting-criteria-item a:hover {
    color: var(--basic-blue);
    opacity: 1;
}

.sorting-criteria-item a:focus {
    color: var(--basic-blue);
    opacity: 1;
    text-decoration: none;
}

.sorting-criteria-item a:active {
    color: var(--bold-text);
    opacity: 1;
    text-decoration: none;
}

.sorting-arrows-list a:hover .sorting-arrow {
    fill: var(--bold-text);
}

.sorting-arrows-list a:focus .sorting-arrow {
    fill:var(--basic-blue);
}

.sorting-arrows-list a:active .sorting-arrow {
    fill:var(--basic-blue);
}

.hotel-details {
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.hotel-text {
    display: flex;
}

.hotel-name {
    margin-top: 24px;
    margin-bottom: 0;
}

.hotel-text p {
    margin-top: 7px;
    margin-bottom: 0px;
}

.hotel-type {
    width: 107px;
}

.hotel-price {
    width: 96px;
    margin-left: 6px;
}

.hotel-buttons {
    margin-top: 15px;
}

.hotel-buttons .button {
    display: inline-flex;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding: 3px 17px;
}

.search-results .button-book {
    background-color: var(--basic-brown);
}

.search-results .button-more:hover {
    background-color: var(--hover-blue);
}

.search-results .button-more:active {
    background-color: var(--active-blue);
    color: rgba(255, 255, 255, 0.3);
}

.search-results .button-book:hover {
    background-color: var(--hover-brown);
}

.search-results .button-book:active {
    background-color: var(--hover-brown);
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    width: 110px;
    padding: 3px 11px 3px 15px;
    margin-top: 47px;
    font-size: 14px;
    background-color: var(--input-background);
    text-align: center;
}

.stars {
    background-image: url("../img/star.svg");
    margin-top: 29px;
    margin-bottom: 0;
}

.stars-amara {
    width: 90px;
    height: 17px;
    margin-left: 21px;
    background-repeat: space repeat;
}

.stars-desert {
    width: 65px;
    height: 17px;
    margin-left: 46px;
    background-repeat: space repeat;
}

.stars-villas {
    width: 40px;
    height: 17px;
    margin-left: 70px;
    background-repeat: space repeat;
}